body {
background-image: url(./pages/images/photo-1542435503-956c469947f6.avif);
}
.space {
margin: 15px;
text-decoration: none;
font-weight: bold;
font-size: 1rem;
color: rgb(223, 72, 21);
}
.space:hover {
color: hotpink;
}